* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: calc(100vh - 120px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.card {
  height: 25%;
  background-color: rgb(79, 114, 22);
  border: 5px solid;
}
.item1 {
  width: 200px;
}
.item2 {
  width: 900px;
  margin: 0 50px;
}
.item3 {
  width: 200px;
}
.item4 {
  width: 900px;
}
.item5 {
  width: 150px;
}
.item6 {
  width: 300px;
  flex-grow: 1;
}
.item7 {
  width: 150px;
}
.item8 {
  width: 300px;
  flex-grow: 1;
}
.item9 {
  width: 900px;
}
.item10 {
  width: 300px;
  flex-grow: 1;
}
.item11 {
  width: 150px;
}
.item12 {
  width: 300px;
  flex-grow: 1;
}
.item13 {
  width: 150px;
}
.item14 {
  width: 300px;
  flex-grow: 1;
}
